
.container{
    width: 1020px;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 20px;
    display: flex;
}
.u-detay{
    margin-top: 10px;
    width: 100%;
    display: flex;
}
.u-detay .imgBX{
    width: 500px;
}
.u-detay .imgBX img{
    width: 500px;
    height: 600px;
    object-fit: cover;
}
.u-detay .aciklama{
    width: 1000px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
.u-detay .aciklama h2{
    color: #4AD7D1;
}
.u-detay .aciklama p{
    color: #f6f6f6;
}
.u-detay  .aciklama .u-btn{
    width: 100%;
    text-align: center;
    margin-top: 50px;
    border: 2px solid #4AD7D1;
    border-radius:4px ;
    padding: 10px;
    transition: 0.2s ease-in;
    background: #4AD7D1;
    cursor: pointer;
}
.u-detay  .aciklama .u-btn a{
    color: #f6f6f6;
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
   
}
.u-detay .aciklama .u-btn:hover{
    opacity: 0.7;
}
.u-alt{
    width: 1020px;
    margin: auto;
    height: 300px;
    margin-bottom: 20px;
    display: flex;
}
.u-left{
    width: 340px;
    margin: auto;
    height: 300px;
    
    
}
.u-alt .u-left ul{
    border-top: 2px solid #001730;
    border-bottom: 2px solid #001730;
}
.u-alt .u-left h4{
    color: #4AD7D1;
    margin-left: 10px;
}
.u-alt .u-left ul li::marker{
    color:#001730 ;
}
.u-alt .u-left ul li {
    color: #f6f6f6;
    padding: 5px;
}


.u-middle{
    width: 340px;
    margin: auto;
    height: 300px;
}
.u-right{
    width: 340px;
    margin: auto;
    height: 300px;
}
