ul li{
    margin: 0;
}
body{
    margin: 0;
    background: #f6f6f6;
    background-image: url('../İmg/bg-5.jpg');
}

 /* Menü Start */
.wrapper{
    width: 100%;
    background-color: #001730;
}
.navbar{
    width: 1200px;
    display: flex;
    height: 60px;
    margin: auto;
    background: #001730;
}
.navbar .logo{
    width: 20%;
    text-align: center;
    line-height: 50px;
    color: #fff;
    font-size: 24px;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.navbar .logo a{
    color: #f6f6f6;
    text-decoration: none;
}
.navbar .search-box{
    margin: auto;
    width: 40%;
    line-height: 50px;
    text-align: center;
}
.navbar .search-box input{
    width: 90%;
    height: 40px;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 16px;
    border: 2px solid  #4AD7D1;
    -webkit-transition: 0.5s;
    transition: 0.5s ease-in-out;
    outline: none;
    padding-left: 8px;
}
.navbar .search-box input:focus{
    width: 100%;
    border: 2px solid #4AD7D1;
    color: #fff; 
}
.btn{
    width: 40%;
    text-align: center;
}
.btn a{
    margin: 10px;
    padding: 10px;
    border: 2px solid #4AD7D1;
    border-radius: 4px;
    color: #fff;
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 60px;
    text-decoration: none;
    transition: 0.7s ease-in;
    box-shadow: inset 0 0 0 0 #4AD7D1;
    outline: none;
}
.btn a:hover{
   box-shadow: inset 300px 0 0 0 #4AD7D1;

}
.navbar img{
    width: 30px;
    height: 30px;
    line-height: 60px;
    margin: 13px;
}
.box{
    width: 100%;
    height: 80px;
}
.box-1{
    width: 1200px;
    margin: auto;
    display: flex;
}
.box-2{
    width: 50%;
    height: 60px;
}
.box-1 .box-2 a{
    margin: 10px;
    padding: 10px;
    border: 2px solid #FE4A49;
    background: #FE4A49;
    border-radius: 4px;
    color: #fff;
    font-size: 18px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    line-height: 80px;
    text-decoration: none;
    word-spacing: 2px;
}
.box-1 .box-2 a:hover{
    opacity: 0.9;
}
.box-1 .box-3{
    width: 50%;
    height: 60px;
    text-align: right;

}
.box-1 .box-3 a{
    margin: 10px;
    padding: 10px;
    border: 2px solid #FE4;
    background: #FE4;
    border-radius: 4px;
    color: #212121;
    font-weight: bold;
    font-size: 18px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    line-height: 80px;
    text-decoration: none;
    word-spacing: 2px;
}
.box-1 .box-3 a:hover{
    opacity: 0.8;
}
.container{
    width: 1000px;
    height: 1000px;
    margin: auto;
}
.container p{
    color: #f6f6f6;
    font-size: 18px;
    font-weight: 600;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
}
.container .user
{
    width: 100%;
    height: 650px;
    display: flex;
    margin-top: 100px;

}
.container .user .imgBx
{
    position: relative;
    width: 50%;
    height: 730px;
    transition: 0.5;
}
.container .user .imgBx img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.container .user .formBx
{
    position: relative;
    width: 70%;
    height: 100%;
    background: #001730;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    transition: 0.5s;
}
.container .user .formBx h2
{
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
    color: #f6f6f6;
}
.container .user .formBx input
{
    width: 97%;
    padding: 5px;
    height: 30px;
    background: #f6f6f6;
    border-radius: 4px;
    border: 2px solid  #4AD7D1;
    color: #353;
    outline: none;
    box-shadow: none;
    font-size: 14px;
    margin: 10px 0;
    letter-spacing: 1px;
    font-weight: 300;
}
.container .user .formBx input::placeholder{
    color: #353;
    font-size: 14px;
}
.container .user .formBx .submit
{
    border: none;
    max-width: 100px;
    background: #677eff;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    transition: 0.5s;
}
.container .user.signupBx .formBx input[type="submit"]
{
    background: #e73e49;
}
.container .user .formBx .signup{
    position: relative;
    margin-top: 20px;
    font-size: 12px;
    letter-spacing: 1px;
    color: #f6f6f6;
    text-transform: uppercase;
    font-weight: 300;
}
.container .user .formBx .signup a{
    font-weight: 600;
    text-decoration: none;
    color: #577eff;
    margin-left: 10px;
}
.container .user.signupBx .formBx .input[type="date"]{
    width: 48%;

}
    .container .user .formBx select[name="cinsiyet"] {
        width: 48%;
        padding: 5px;
        height: 44px;
        background: #f6f6f6;
        border-radius: 4px;
        border: 2px solid #4AD7D1;
        color: #353;
        outline: none;
        box-shadow: none;
        font-size: 14px;
        margin: 10px 0;
        letter-spacing: 1px;
        font-weight: 300;
    }
/* footer start */
.footer{
    width: 100%;
    height: 300px;
    background: #001730;
    display: flex;
}
.footer .foot-cont{
    width: 1200px;
    margin: auto;
    height: 300px;
    display: flex;
}
.footer .left{
    width: 60%;
    height: 300px;
    margin: auto;
    display: flex;
}
.footer .foot-cont .left ul{
    list-style: none;
}
.footer .foot-cont .left ul li{
    margin-top: 15px;
}
.footer .foot-cont .left ul h4 a{
    text-decoration: none;
    color: #f6f6f6;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    font-weight: 600;
}
.footer .foot-cont .left ul h4 a:hover{
    opacity: 0.7;
}
.footer .foot-cont .left ul li a{
    text-decoration: none;
    color: #f6f6f6;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    font-weight: 600;
}
.footer .foot-cont .left ul li a:hover{
    opacity: 0.7;
}
.footer .mid{
    margin: auto;
}
.footer .right{
    width: 40%;
    margin: 20px;
    margin-top: 40px;
}
.right .search-box-2 input{
    width: 80%;
    height: 40px;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 16px;
    border: 2px solid  #4AD7D1;
    -webkit-transition: 0.5s;
    transition: 0.5s ease-in-out;
    outline: none;
    padding-left: 8px;
    flex-direction:column;
    
}
.right .search-box-2 input:focus{
    border: 2px solid #4AD7D1;
    color: #fff; 
}
